<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>LISTADO DE COMPRAS</title>
	</head>

	<body>
		<header>
			<nav th:replace="cabeceras/cabecera_loader"></nav>
		</header>		
		
		<div>
			<h2>LISTADO DE COMPRAS</h2>
				<div>
					<table>
						<thead>
							<tr>
								<th>FECHA</th>
								<th>PRECIO</th>
								<th>DETALLES</th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="compra : ${compras}">
								<td th:text="${compra.fecha}"></td>
								<td th:text="${compra.precioT}"></td>
								<td><a href=# th:href="@{/compras/detallesCompra/{idCompra}(idCompra = ${compra.idCompra})}">
								DETALLES</a></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</body>
</html>